version: '3.8'

services:
  bot:
    build: .
    container_name: m3u8-recorder-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./recordings:/app/recordings
    environment:
      - RECORDING_PATH=/app/recordings
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"